.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body,
html {
  background-color: black;
  color: white;
  overflow-x: hidden;
  overflow-y: hidden;
}

* {
  color: white;
}

.nav-item a {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
}



.nav-item:hover,
.nav-item:hover a:hover {

  background-color: #1f1f1f;
}

.connect_wallet_btn {
  background: #1f1f1f !important;
}

.connect_wallet_btn:hover {
  background: #eb0c1c !important;
}

.hero-section {
  font-family: TiltPrism;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #fff;
  /* Light grey */
  border-top: 10px solid #eb0c1c;
  /* Blue */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  /* height: 300px; */
}

.arena {
  height: calc(100vh - 5.4rem) !important;

}